{% extends "dashboard/base.html" %} {% block content %}
{% load static %}

{% if messages %}
<div class="container mt-3">
    {% for message in messages %}
        <div class="alert {% if message.tags %}alert-{{ message.tags }}{% else %}alert-info{% endif %}" role="alert">
            {{ message }}
        </div>
    {% endfor %}
</div>
{% endif %}

  <main>
    <div class="container-fluid px-4">
      <h1 class="mt-4">Dashboard</h1>
      <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Tanon&fils</li>
      </ol>
      <div class="row">
        <div class="col-xl-3 col-md-6">
          <div class="card bg-primary text-white mb-4">
            <div class="card-body">Toutes les commandes</div>
            <div
              class="card-footer d-flex align-items-center justify-content-between"
            >
              <a class="small text-white stretched-link" href="#"> Details</a>
              <div class="small text-white">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-warning text-white mb-4">
            <div class="card-body">Activité du site</div>
            <div
              class="card-footer d-flex align-items-center justify-content-between"
            >
              <a class="small text-white stretched-link" href="#"> Details</a>
              <div class="small text-white">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-success text-white mb-4">
            <div class="card-body">Boite à message</div>
            <div
              class="card-footer d-flex align-items-center justify-content-between"
            >
              <a class="small text-white stretched-link" href="#"> Details</a>
              <div class="small text-white">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-3 col-md-6">
          <div class="card bg-danger text-white mb-4">
            <div class="card-body">x carte</div>
            <div
              class="card-footer d-flex align-items-center justify-content-between"
            >
              <a class="small text-white stretched-link" href="#"> Details</a>
              <div class="small text-white">
                <i class="fas fa-angle-right"></i>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="card mb-4">
        <div class="card-header">
          <i class="fas fa-table me-1"></i>
          Toutes les service
        </div>
        <div class="card-body">
          <table id="datatablesSimple">
            <thead>
              <tr>
                <th>Nom du service </th>
                <th>Description</th>
                <th>Image</th>
                <th>Gérer</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <th>Nom du service </th>
                <th>Description</th>
                <th>Image</th>
                <th>Gérer</th>
              </tr>
            </tfoot>
            <tbody>
              {% for service in services %}
              <tr>
                <td>{{ service.Nom_service }}</td>
                <td>{{ service.Description_svc }}</td>
                <td> {% if service.Image_svc %} 
                          <img src="{{ service.Image_svc.url }}" alt="Image du service" class="img-thumbnail rounded-circle" style="width: 50px; height: 50px;" /> 
                        {% else %}
                          <img src="{% static "img/OIP.jpg" %}" alt="No image" class="img-thumbnail rounded-circle" style="width: 50px; height: 50px;" /> 
                        {% endif %}
                </td>
                <td><a href="{% url 'supprimer_service' service.id %}" class="btn btn-danger">Supprimer</a>
                <a href="" class="btn btn-primary ">Désactiver</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </main>

  {% endblock content %}
</div>
