{% extends "dashboard/base.html" %}


{% block content %}



<div class="container">
    <h1 class="fs-4 mt-2"> Êtes vous sur de vouloir supprimer la categorie: {{ categorie.Nom_categorie }} ? </h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger py-md-2 px-md-4 font-weight-semi-bold mt-2">oui </button>
        <a href="{% url "affiche_categorie" %}" class="btn btn-primary py-md-2 px-md-4 font-weight-semi-bold mt-2">non</a>
    </form>
</div>


{% endblock content %}